@font-face {
  font-family: 'glyphish';
  src: url('../img/glyphish.ttf');
}

@font-face {
  font-family: 'mino';
  src: url('../img/minotaur.ttf');
}

@font-face {
  font-family: 'subtle';
  src: url('../img/SubtleSansRegular.otf');
}

body { width: 100%; overflow: hidden; background-image:  url("../img/brown_linen.png"); font-smooth: always; -webkit-font-smoothing: antialiased; }

#columns {
	position: absolute;
	top: 55px;
	bottom: 12px;
	left: 4px;
	right: 0px;
	width: 5000px;
}

.column {
	position: relative;
	overflow: hidden;
	float: left;
	margin: 3px;
	height: 100%;
	width: 338px;
	background-color: rgba(52,48,47,1);
	border: 1px solid #212121;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0px #303030;
	box-shadow: inset 0 1px 0px 
	#303030;
	display: inline-block;
}

.column-header {
	position: relative;
	height: 44px;
	cursor: default;
	border-bottom: 2px solid #444;
}

.column-header h1 {
	display: inline;
	font-weight: normal;
	font-size: 15px;
	line-height: 44px;
	color: 
	#B2B2B2;
	text-shadow: 0 1px 0 
	rgba(0, 0, 0, 0.5);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.holder {
	position: absolute;
	top: 46px;
	left: 0;
	bottom: 0;
	width: 338px;
	overflow-y: auto;
	overflow-x: hidden;
}

.feed {
	position: relative;
	cursor: pointer;
	display: block;
	min-height: 70px;
	border-bottom: 1px solid #383838;
	color: #DEDEDE;
}

header { display: block; }

.time {
	position: absolute;
	right: 8px;
	top: 9px;
}

.avatar {
	position: absolute;
	top: 10px;
	left: -48px;
	border-radius: 3px;
}

.name {
	margin-top: 2px;
	margin-right: 4px;
}

.feed_content {
	position: relative;
	margin-left: 58px;
	line-height: 16px;
	padding: 8px 8px 10px 10px;
	min-height: 45px;
	-webkit-user-select: text;
	user-select: text;
}

.media_photo {
	border-radius: 3px;
}

.hornholder {
	position: absolute; 
	top: 15px; 
	right: 5px;
}
.eyeholder {
	position: absolute; 
	top: 15px; 
	left: 5px;
}

.bullhorn, .eye, .settings { font-family: 'glyphish'; text-decoration: none; font-size: 30px; color: #aaa; cursor: pointer; }
 
.bullhorn:hover, .eye:hover, .settings:hover {
	color: #0AF;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, .5) 0 1px 1px, #0589C8 0 0 10px;
}

.settingholder {  
	position: absolute; 
	top: 15px; 
	right: 33px;
}

/* move buttons */
.halfCircleRight{
     height:100px;
     width:50px;
     border-radius: 0 90px 90px 0;
     -moz-border-radius: 0 90px 90px 0;
     -webkit-border-radius:  0 90px 90px 0;
     background:green;
}


.halfCircleLeft{
     height:100px;
     width:50px;
     border-radius: 90px 0 0 90px;
     -moz-border-radius: 90px 0 0 90px;
     -webkit-border-radius: 90px 0 0 90px;
     background:green;
}

#leftmove, #rightmove {
	position: absolute;
	top: 40%;
	background-color: 
	rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

#leftmove { left: -20px; -webkit-transition: left 0.3s; }
#leftmove:hover { left: 0px; }


#rightmove { right: -20px; }
#rightmove:hover { right: 0px; -webkit-transition: right 0.3s; }

#rightmove svg {
	position: relative;
	top: 35px;
	left: 13px;
	
}

#leftmove svg {
	position: relative;
	top: 35px;
	left: 8px;
}

.navbar .brand {
	padding: 5px 15px 0px;
	font-family: 'mino';
	text-shadow: none;
	color: #EEE;
	font-size: 40px;
	font-weight: lighter;
	color: black;
	opacity: 0.7
}

.brand:hover {
	text-shadow: rgba(0, 0, 0, .5) 0 1px 1px, #ddd 0 0 5px;
}

.navbar .container-fluid {
	background-image: url("../img/woodboard_tile.png");
	border-bottom: 1px solid black;
	height: 50px;
	box-shadow: 0px 3px 5px #111;
}


.navbar .nav > li > a {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	box-shadow: inset 0 0 10px black;
	margin-top: 6px;
	padding: 6px 10px;
	margin-left: 10px;
	font-size: 15px;
}

.navbar .nav > li > a:hover { background-color: rgba(0, 0, 0, 0.5); }

/* logo */
.logo {
	font-family: 'mino'; 
	font-size: 200px; 
	line-height: 200px; 
	color: black; 
	margin: auto; 
	display: block; 
	vertical-align: middle; 
	padding-top: 25px; 
	text-align: center;
	text-shadow: rgba(0, 0, 0, .5) 0 1px 1px;
	background-image: url('../img/woodboard_tile.png');
	opacity: 0.7;
}

/*testing shit*/
div.pane {
	overflow: hidden;
	clear: left;
	margin: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}

#loading { 
	background-image: url('../img/brown_denim.png'); 
}

#loading_text {
	font-family: 'subtle';
	font-size: 30px;
	line-height: 35px;
	color: #ddd;
	width: 400px;
	margin: auto;
	text-align: justify;	
	text-shadow: 1px 2px black;
	padding-top: 40px;
}

#top_loading { box-shadow: -2px 10px 30px rgba(0,0,0,0.5); }

#bottom_loading { 
	width: 100%;
	position: fixed;
	bottom: 0px;
	height: 40px;
	display: block;
	box-shadow: -5px -5px 30px rgba(0, 0, 0, 0.5);
	background-image: url('../img/woodboard_tile.png');	
}
